﻿@model Business_Layer.DataModels.ViewModel
@using GridMvc.Html
<link href="~/Content/GridGroundView.css" rel="stylesheet" />
<div id="white">
    <center>
        <h2>Перелік довідників</h2>
        <div class="row">
            <div class="col-md-6">
                <div>
                    @Html.ActionLink("Додати відділення", "CreateCompartment")
                </div>
                @Html.Grid(Model.Compartment).SetLanguage("uk").Columns(columns =>
{
    columns.Add(data => data.Name_of_compartment).Titled("Назва відділення").Sortable(true);
    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Редагувати", "EditCompartment", new { id = o.Number_of_compartment }));
    columns.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteCompartment", new { id = o.Number_of_compartment }));
}).WithPaging(3).Filterable(true).WithMultipleFilters()

                </div>
            <div class="col-md-6">
                <div>
                    @Html.ActionLink("Додати категорію", "CreateCategory")
                </div>
                @Html.Grid(Model.Category).SetLanguage("uk").Columns(columns =>
{
    columns.Add(data => data.Category_type).Titled("Назва категорії").Sortable(true);
    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Редагувати", "EditCategory", new { id = o.Number_of_category }));
    columns.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteCategory", new { id = o.Number_of_category }));
}).WithPaging(3).Filterable(true).WithMultipleFilters()
                </div>
            </div>
        <div>
            @Html.ActionLink("Додати новий контракт", "CreateContracts")
        </div>
        @Html.Grid(Model.Contract).SetLanguage("uk").Columns(columns =>
{
    columns.Add(data => data.Number_of_contracts).Titled("Номер контракту").Sortable(true);
    columns.Add(data => data.Company_name).Titled("Назва компанії").Sortable(true);
    columns.Add(data => data.Scope_of_the_contracts).Titled("Предмет договору").Sortable(true);
    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Редагувати", "EditContracts", new { id = o.Number_of_contracts }));
    columns.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteContracts", new { id = o.Number_of_contracts }));
}).WithPaging(4).Filterable(true).WithMultipleFilters()
</center>
</div>
@section Scripts {

 @Scripts.Render("~/bundles/mvcgrid")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

}