﻿@model Business_Layer.DataModels.Category_PatientsDataModel
<link href="~/Content/GridGround.css" rel="stylesheet" />
@{
    ViewBag.Title = "CreateCategory";
}

<link href="~/Content/GridGround.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <div class="form-horizontal">
                <h2>Додати категорію</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label  col-md-4">Тип категорії</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Category_type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Category_type, "", new { @class = "text-danger" })
                    </div>
                    <div class=" col-md-2">
                        <input type="submit" value="Додати" class="btn-info btn-lg" />
                    </div>
                </div>
            </div>
            </center>
        </div>
            }


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
