﻿@model Business_Layer.DataModels.Category_PatientsDataModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Видалити категорю</title>
</head>
<body>
    <h3>Ви впевнені, що хочете видалити дану категорію?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_category)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_category)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Category_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Category_type)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Переглянути категорії", "CategoryGrid")
            </div>
        }
    </div>
</body>
</html>
