﻿@model Business_Layer.DataModels.ContractsDataModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Видалення контракту</title>
</head>
<body>
    <h3>Ви впевнені, що хочете видалити даний контракт?</h3>
    <div>
        <h4>Видалення контракту</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_contracts)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_contracts)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Company_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Company_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Scope_of_the_contracts)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Scope_of_the_contracts)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Переглянути контракти", "ContractsGrid")
            </div>
        }
    </div>
</body>
</html>
