﻿@model Business_Layer.DataModels.CompartmentDataModel
<link href="~/Content/GridGround.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <div class="form-horizontal">
                <h2>Редагувати відділення</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-4">Назва відділення</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Name_of_compartment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name_of_compartment, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Редагувати" class="btn-info btn-lg" />
                    </div>
                </div>
            </div>
        </center>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
