﻿@model Business_Layer.DataModels.ContractsDataModel

<link href="~/Content/GridGround.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <div class="form-horizontal">
                <h2>Редагувати контракт</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-5">Найменування компанії</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Company_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5">Предмет договору</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Scope_of_the_contracts, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Scope_of_the_contracts, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Редагувати" class="btn-info btn-lg" />
                    </div>
                </div>
            </div>
        </center>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}