﻿@model IEnumerable<Couchsurfing.BL.ViewModels.AboutModel>

@foreach (var item in Model)
{
<div class="list-group">
    <a href="#" class="list-group-item">
        @Html.DisplayNameFor(model => model.About_yourself)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.About_yourself)
    </a>
    <a href="#" class="list-group-item">
        @Html.DisplayNameFor(model => model.Participation_reason)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Participation_reason)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Interests)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Interests)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Favorite_stuff)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Favorite_stuff)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Amazing_thing)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Amazing_thing)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Teach_learn_share)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Teach_learn_share)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Share_with_hosts)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Share_with_hosts)
    </a>
</div>
}