﻿@model Couchsurfing.BL.ViewModels.AboutModel


@using (Html.BeginForm("_EditUser", "Profile", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Languages, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Languages, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Education, new { htmlAttributes = new { @class = "form-control", id="area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ocupation, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Ocupation, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Ocupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.About_yourself, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.About_yourself, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.About_yourself, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Participation_reason, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Participation_reason, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Participation_reason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Interests, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Interests, new { htmlAttributes = new { @class = "form-control" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Interests, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Favorite_stuff, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Favorite_stuff, new { htmlAttributes = new { @class = "form-control" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Favorite_stuff, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amazing_thing, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Amazing_thing, new { htmlAttributes = new { @class = "form-control" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Amazing_thing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teach_learn_share, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Teach_learn_share, new { htmlAttributes = new { @class = "form-control" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Teach_learn_share, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Share_with_hosts, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Share_with_hosts, new { htmlAttributes = new { @class = "form-control" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Share_with_hosts, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" >
                <form action="~/Controllers/_EditUser" method="get">
                    <input type="submit" name="upvote" value=@Resources.Resource.Ok />
                </form>
            </div>
        </div>

    </div>
}
@section Scripts {
}