﻿@model Couchsurfing.BL.ViewModels.HomeModel

@{
    var listArangment = (ViewBag.Arangment as List<SelectListItem>);
    if (listArangment == null) { listArangment = new List<SelectListItem>(); }
}

@using (Html.BeginForm("_EditHome", "Profile", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Sleeping_arrangement_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Sleeping_arrangement_id, listArangment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sleeping_arrangement_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description_of_sleeping_arrangement, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description_of_sleeping_arrangement, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows="4" })
                @Html.ValidationMessageFor(model => model.Description_of_sleeping_arrangement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roommate_situation, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Roommate_situation, new { htmlAttributes = new { @class = "form-control", id = "area" } })
                @Html.ValidationMessageFor(model => model.Roommate_situation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Share_with_guests, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Share_with_guests, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Share_with_guests, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Additional_information, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Additional_information, new { htmlAttributes = new { @class = "form-control", id = "area" }, @rows = "4" })
                @Html.ValidationMessageFor(model => model.Additional_information, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max_number_guist, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Max_number_guist, new SelectList(
                        new List<Object>{
                        new { value="1" , text = "1"},
                        new { value="2" , text = "2"  },
                        new { value="3" , text = "3"  },
                        new { value="4" , text = "4"  },
                        new { value="5" , text = "5"  },
                        new { value="6" , text = "6"  },
                        new { value="7" , text = "7"  },
                        new { value="8" , text = "8" } },
                       "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Max_number_guist, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prefer_sex, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Prefer_sex, new SelectList(
                        new List<Object>{
                        new { value="Любой" , text = "Любой"},
                        new { value="Жен." , text = "Жен."  },
                        new { value="Муж." , text = "Муж." } },
                       "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prefer_sex, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Resource.Ok class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
