﻿@model IEnumerable<Couchsurfing.BL.ViewModels.PhotosModel>

<link href="~/Content/ImageZoom.css" rel="stylesheet" />

<div class="form-group">
    @using (Html.BeginForm("_EditProfilePhotos", "Profile", FormMethod.Post,
                                                                        new { enctype = "multipart/form-data" }))
    {
        <div class="row-md-2">
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="submit" />
        </div>
    }
</div>



@foreach (var item in Model)
{
    <div>
        @if (item.Avatar != null)
        {
            var base64 = Convert.ToBase64String(item.Avatar);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="box-image-image" alt=item.Date src="@imgSrc" />

                        <div id="myModal" class="modal">
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>

}


<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
</script>