﻿@model IEnumerable<Couchsurfing.BL.ViewModels.HomeModelView>

@foreach (var item in Model)
{

<div class="list-group">
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Sleeping_arrangement)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Sleeping_arrangement)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Description_of_sleeping_arrangement)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Description_of_sleeping_arrangement)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Roommate_situation)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Roommate_situation)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Share_with_guests)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Share_with_guests)
    </a>
    <a href="#" class="list-group-item ">
        @Html.DisplayNameFor(model => model.Additional_information)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Additional_information)
    </a>
    <a href="#" class="list-group-item">
        @Html.DisplayNameFor(model => model.Max_number_guist)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Max_number_guist)
    </a>
    <a href="#" class="list-group-item">
        @Html.DisplayNameFor(model => model.Prefer_sex)<a>:</a>
        <br />
        @Html.DisplayFor(modelItem => item.Prefer_sex)
    </a>
</div>
}