﻿@model Couchsurfing.BL.ViewModels.HomeModel

@foreach (var item in Model.Miscellaneous)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.MiscellaneousModel.Label, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MiscellaneousModel.Label, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MiscellaneousModel.Label, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.MiscellaneousModel.Bool, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            </div>
      }
}
