﻿@model IEnumerable<Couchsurfing.BL.ViewModels.AboutModel>

<link href="~/Content/ProfileStyle.css" rel="stylesheet" />
<link href="~/Content/ImageZoom.css" rel="stylesheet" />

@foreach (var item in Model)
{
    <div class="user-content">
        <div class="left-menu">
            <div class="box-image">
                <a>
                    @if (item.Avatar != null)
                    {
                        var base64 = Convert.ToBase64String(item.Avatar);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img id="myImg" class="box-image-image" alt="Your avatar here" src="@imgSrc" />

                        <div id="myModal" class="modal">
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    }
                    else
                    {
                        <img class="box-image-image"
                             src="https://tcdn.couchsurfing.com/bBKFk_5Boorr6nlYv8XoDVn5TGk=/300x300/smart/https://s3.amazonaws.com/ht-images.couchsurfing.com/u/2004304924/d8d2ffdb-486e-463e-8aba-db2460432ba6">
                    }
                </a>
            </div>
            <div class="map">
                <div class="column mod-sidebar">
                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="file" id="file" class="btn-warning" style="width: 100%;" />
                        <input type="submit" value="Upload" class="submit btn-warning" />
                    }
                </div>
            </div>

        </div>

        <div class="right-menu">
            <header class="box-header">
                <h3 class="box-header-title">
                    <a class="mod-black ">@Html.DisplayFor(modelItem => item.FirstName)</a>
                    <a class="mod-black ">@Html.DisplayFor(modelItem => item.SecondName)</a>
                </h3>
            </header>

            <ul class="nav nav-pills">
                <li class="tab">
                    <a class="tab-link" href="javascript:LoadDetailPartialView()">@Resources.Resource.AboutMe</a>
                </li>
                <li class="tab">
                    <a class="tab-link" href="javascript:LoadDetailPartialViewHome()">@Resources.Resource.MyHome</a>
                </li>
            </ul>

            <div class="contant">
                    <div id="divDetailView"></div>

            </div>
        </div>
        </div>

}

<script>
    function LoadDetailPartialView() {
            $.ajax({
                url:  '@Url.Action("_EditUser", "Profile")',
                type: "Post",
            cache: false,
            success: function (data) {
                //Fill div with results
                $("#divDetailView").html(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    };
    function LoadDetailPartialViewHome() {
        $.ajax({
            url: '@Url.Action("_EditHome", "Profile")',
            type: "Post",
            cache: false,
            success: function (data) {
                //Fill div with results
                $("#divDetailView").html(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    };


    function Go() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByName?searchString=" + elem);
    }
    function Go1() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByLiving?searchString=" + elem);
    }
    function Go2() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByAll?searchString=" + elem);
    }

        // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    function Go() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByName?searchString=" + elem);
    }
    function Go1() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByLiving?searchString=" + elem);
    }
    function Go2() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByAll?searchString=" + elem);
    }

    </script>