﻿@model Couchsurfing.BL.ViewModels.NecessaryDataRegistrationModel
<link href="~/Content/Site.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="white">
        <center>
            <div class="row">
                <h2>@Resources.Resource.EditPersoneDate</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Sex, new SelectList(
                    new List<Object>{
                    new { value=@Resources.Resource.Female, text = @Resources.Resource.Female  },
                    new { value=@Resources.Resource.Male, text = @Resources.Resource.Male  } },
                    "value", "text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Birthday, "{dd.mm.yyyy}", new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Living_place, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Living_place, new { htmlAttributes = new { @class = "form-control", @id = "findcity", data_autocomplete_source = @Url.Action("AutocompleteSearch", "Route") } })
                            @Html.ValidationMessageFor(model => model.Living_place, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User_status, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.User_status, new SelectList(
new List<Object>{
                new { value=@Resources.Resource.YesGuist  , text = @Resources.Resource.YesGuist  },
                    new { value=@Resources.Resource.NotGuist , text = @Resources.Resource.NotGuist  } },
"value", "text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User_status, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.User_status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Action("_AddPhoneNumber", "Manage")
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value=@Resources.Resource.Ok class="btn btn-default" />
                        </div>
                    </div>
                </div>
                </div>
            </center>
        </div>
                }

                @section Scripts {


                    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
                    @Styles.Render("~/Content/bootstrap-datepicker.css")


                    <script type="text/javascript">
                        $(function () {
                            $('.datepicker').datepicker({
                                format: "dd.mm.yyyy",
                                autoclose: true,
                                language: 'ru'

                            });
                        });

                        $.fn.datepicker.dates['ru'] = {
                            days: ["Понеділок", "Вівторок", "Середа", "Четерг", "П'ятниця", "Субота", "Неділя"],
                            daysShort: ["Пон", "Вів", "Сер", "Чет", "П'ятн", "Суб", "Нед"],
                            daysMin: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
                            months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
                            monthsShort: ["Січ", "Лют", "Бер", "Квіт", "Трав", "Черв", "Лип", "Серп", "Верес", "Жовт", "Лист", "Груд"],
                            format: "dd.mm.yyyy",
                        };

                        $(function () {
                            $.validator.methods.date = function (value, element) {
                                if ($.browser.webkit) {
                                    var d = new Date();
                                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                                }
                                else {
                                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                                }
                            };
                        });
                        $(function () {
                            $("[data-autocomplete-source]").each(function () {
                                var target = $(this);
                                target.autocomplete({ source: target.attr("data-autocomplete-source") });
                            });
                        });
                        function Go() {
                            var elem = document.getElementById("text").value;
                            location.replace("/Home/SearchByName?searchString=" + elem);
                        }
                        function Go1() {
                            var elem = document.getElementById("text").value;
                            location.replace("/Home/SearchByLiving?searchString=" + elem);
                        }
                        function Go2() {
                            var elem = document.getElementById("text").value;
                            location.replace("/Home/SearchByAll?searchString=" + elem);
                        }
                    </script>

                }
