﻿@model Couchsurfing.BL.ViewModels.ViewModel

<link href="~/Content/ProfileStyle.css" rel="stylesheet" />

<link href="~/Content/ImageZoom.css" rel="stylesheet" />

@foreach (var item in Model.UserProfile)
{
    <div class="user-content">
        <div class="left-menu">
            <div class="box-image">
                <a>
                    @if (item.Avatar != null)
                    {
                        var base64 = Convert.ToBase64String(item.Avatar);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img id="myImg" class="box-image-image" alt="Your avatar here" src="@imgSrc" />

                        <div id="myModal" class="modal">
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    }
                    else
                    {
                        <img class="box-image-image"
                             src="https://tcdn.couchsurfing.com/bBKFk_5Boorr6nlYv8XoDVn5TGk=/300x300/smart/https://s3.amazonaws.com/ht-images.couchsurfing.com/u/2004304924/d8d2ffdb-486e-463e-8aba-db2460432ba6">
                    }
                </a>
            </div>
            <div class="map"><div id="map"></div></div>
           
        </div>

        <div class="right-menu">
            <header class="box-header">
                <h3 class="box-header-title">
                    <a class="mod-black ">@Html.DisplayFor(modelItem => item.FirstName)</a>
                    <a class="mod-black ">@Html.DisplayFor(modelItem => item.SecondName)</a>
                </h3>
            </header>
            <div class="living">
                @Html.DisplayFor(modelItem => item.Living_place)
            </div>
            <div class="status">
                @if (item.User_status != null)
                {
                    <span class="mod-large">
                        @Html.DisplayFor(modelItem => item.User_status)
                    </span>
                }
                else {
                    <span class="mod-large">
                        Maybe Accepting Guests
                    </span>
                }
            </div>

            <ul class="nav nav-pills">
                <li class="tab">
                    <a class="tab-link" href="javascript:LoadDetailPartialView()">@Resources.Resource.About</a>
                </li>
                <li class="tab">
                    <a class="tab-link" href="javascript:LoadDetailPartialViewHome()">@Resources.Resource.MyHome</a>
                </li>
                <li class="tab">
                    <a class="tab-link" href="javascript:LoadDetailPartialViewPhotos()">@Resources.Resource.Photos</a>
                </li>
            </ul>

            <div>
                <div class="titel">
                    <span>@Resources.Resource.Overview
                        </span>
                </div>
                <div class="multicolumn">
                    <div class="multicolumn-column mod-1-2">
                        <ul class="mod-icon-bullets">
                            <li>
                                <span >Язык:</span>
                                @if (item.Languages != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Languages)
                                }
                                else {
                                    @Html.DisplayName(@Resources.Resource.Nolanguageslisted)
                                }
                            </li>

                            <li>
                                <span>Пол:</span>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </li>

                            <li>
                          @*       <span >День рождени:</span>
    @Html.DisplayFor(modelItem => item.Birthday, "{dd.mm.yyyy}")*@
                            </li>
                        </ul>
                    </div>

                    <div class="multicolumn-column mod-1-2">
                        <ul class="mod-icon-bullets">
                            <li>
                                <span>Специальность:</span>
                                @if (item.Ocupation != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Ocupation)
                                }
                                else {
                                    @Html.DisplayName(@Resources.Resource.Nooccupationlisted)
                                }
                            </li>

                            <li>
                                <span >Образование:
                                </span>
                                @if (item.Education != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Education)
                                }
                                else {
                                    @Html.DisplayName(@Resources.Resource.Noeducationlisted)
                                }
                            </li>
                            <li>
                                <span >Skype:
                                </span>
                                @if (item.Skype != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Skype)
                                }
                                else {
                                    @Html.DisplayName(@Resources.Resource.Noskype)
                                }
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inform">
                    <div class="titel"><span> @Resources.Resource.AboutMe</span></div>
                    <div class="box-content">
                        <p>
                            @if ((item.About_yourself == null) && (item.Participation_reason == null) && (item.Interests == null) && (item.Favorite_stuff == null) && (item.Amazing_thing == null) && (item.Teach_learn_share == null) && (item.Share_with_hosts == null))
                            { @Resources.Resource.NullEdit1 <strong>
                                <a href="/Profile/Edit">@Resources.Resource.NullEdit2</a>
                            </strong>@Resources.Resource.NullEdit3}
                            else
                            {
                                <div id="divDetailView"></div>
                            }
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
}

<script>

    function LoadDetailPartialView() {
        $.ajax({
              url: '@Url.Action("_AboutList", "Profile")',
            type: "Post",
            cache: false,
            success: function (data) {
                $("#divDetailView").html(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    };
    function LoadDetailPartialViewHome() {
        $.ajax({
            url: '@Url.Action("_HomeList", "Profile")',
            type: "Post",
            cache: false,
            success: function (data) {
                $("#divDetailView").html(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    };
    function LoadDetailPartialViewPhotos() {
        $.ajax({
            url: '@Url.Action("_EditProfilePhotos", "Profile")',
            type: "Get",
            cache: false,
            success: function (data) {
                $("#divDetailView").html(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    };

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    function Go() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByName?searchString=" + elem);
    }
    function Go1() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByLiving?searchString=" + elem);
    }
    function Go2() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByAll?searchString=" + elem);
    }

</script>