﻿@model Business_Layer.DataModels.HospitalizationDataModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteHospitalization</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>HospitalizationDataModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_hospitalization)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_hospitalization)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Handling)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Handling)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Directional)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Directional)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diagnosis_of_directional)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diagnosis_of_directional)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Through_hours)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Through_hours)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diagnosis_of_clinical)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diagnosis_of_clinical)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diagnosis_of_conclusive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diagnosis_of_conclusive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diagnosis_of_hospitalization)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diagnosis_of_hospitalization)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date_of_hospitalization)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date_of_hospitalization)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reasons)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reasons)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_med_cards)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_med_cards)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
