﻿@model Business_Layer.DataModels.HospitalizationDataModel
<link href="~/Content/GridGround.css" rel="stylesheet" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="white">
            <center>
                <div class="row">
                    <h2>Додати госпіталізація</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-4">Звернення</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Handling, new SelectList(
                            new List<Object>{
                            new { value="Вперше" , text = "Вперше"  },
                            new { value="Повторно" , text = "Повторно" } },
                            "value", "text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Handling, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Ким направленний</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Directional, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Directional, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Діагноз закладу який направив</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Diagnosis_of_directional, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Diagnosis_of_directional, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Через годин</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Through_hours, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Through_hours, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Діагноз клінічний</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Diagnosis_of_clinical, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Diagnosis_of_clinical, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-4">Діагноз встановленний</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Diagnosis_of_conclusive, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Diagnosis_of_conclusive, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Діагноз  при госпіталізації</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Diagnosis_of_hospitalization, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Diagnosis_of_hospitalization, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Дата госпіталізації</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Date_of_hospitalization, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Date_of_hospitalization, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Причина</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Reasons, new SelectList(
                            new List<Object>{
                            new { value="Термінові показання" , text = "Термінові показання"  },
                             new { value="Термінові показання" , text = "Планова госпіталізація"  },
                            new { value="Хронічне захворювання" , text = "Хронічне захворювання" } },
                            "value", "text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Reasons, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Додати" class="btn-info btn-lg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    }