﻿@model IEnumerable<Business_Layer.DataModels.HospitalizationDataModel>
@using GridMvc.Html
<meta name="viewport" content="width=device-width" />

<link href="~/Content/GridGround.css" rel="stylesheet" />
<div id="white">
    <center>
        <h2>Перелік госпіталізацій пацієнта</h2>

        @Html.Grid(Model).SetLanguage("uk").Columns(columns =>
   {
       columns.Add(data => data.Handling).Titled("Звернення").Filterable(true);
       columns.Add(data => data.Directional).Titled("Направленний").Filterable(true);
       columns.Add(data => data.Diagnosis_of_directional).Titled("Діагноз закл.").Filterable(true);
       columns.Add(data => data.Through_hours).Titled("Через");
       columns.Add(data => data.Diagnosis_of_clinical).Titled("Діагноз клін.").Filterable(true);
       columns.Add(data => data.Diagnosis_of_conclusive).Titled("Діагноз встан.").Filterable(true);
       columns.Add(data => data.Diagnosis_of_hospitalization).Titled("Діагноз  при госп.").Filterable(true);
       columns.Add(data => data.Date_of_hospitalization).Format("{0:dd/MM/yyyy}").Titled("Дата госп.").Filterable(true);
       columns.Add(data => data.Reasons).Titled("Причина").Filterable(true);
       //columns.Add()
       //                    .Encoded(false)
       //                    .Sanitized(false)
       //                    .SetWidth(10)
       //                    .RenderValueAs(o => Html.ActionLink("Редагувати", "EditPatient", new { id = o.Number_of_med_cards }));
       columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(10)
                        .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteHospitalization", new { id = o.Number_of_hospitalization }));
   }).WithPaging(8).Sortable(true).WithMultipleFilters()
    </center>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
}
