﻿body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
    font-family: 'big_noodle_titling';
    src: url('fronts/big_noodle_titling.ttf') format('truetype');
}

h1 {font-family:big_noodle_titling, sans-serif; font-size: 72px; color: #d6d5d5; text-transform: uppercase; letter-spacing: 0.1em;}
h2 {margin-top: 30px; text-align: center; font-family: big_noodle_titling, sans-serif; font-size: 48px; color: #3d3d3d; background: url("../img/h2_underline.png")no-repeat bottom; padding-bottom: 9px; letter-spacing: 5px; margin-bottom: 29px;}
h3 {font-family: big_noodle_titling, sans-serif; font-size: 36px; color: #f6f6f6; text-transform: uppercase; text-align: center; background: url("../img/_underline.png")no-repeat bottom; margin-top: 30px; padding-bottom: 20px; letter-spacing: 0.2em;}
p {font-family: robotothin, sans-serif; font-size: 16px; line-height: 1.4;}
a:hover {text-decoration: none; color: inherit;}

.header{
    width:100%;
    align-content:center;
    padding:0 0 0 0;
}

.zoom:hover {
    zoom: 2;
    align-content: center;
    margin: 0 30% 0 30%;
  
}

/*newmenu*/
@media screen and (max-width: 1050px){
    .sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    .sidenav li {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    .sidenav li {
        text-align: center;
        float: none;
    }
}
/*newmenu*/


.sandwich img{
    float:right;
}

.sandwich img:active{
   visibility:hidden;
}

.logo {
    float: left; 
    margin:50px 0 0 50px;
}


.sandwich:focus ~ .sub-menu, 
.sandwich:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: block; 
} 

.sandwich {
    float: right; 
    margin: 64px 50px 0 0;
     position: relative;
}
.sandwich_menu {
    position: absolute;
    top: 110px;
    width: 100%;
    display: none;
}
 .sandwich_menu > li {
    float: left; width: 24.5%; text-align: center; padding-bottom: 5px; margin-bottom: 5px;
   
  }
  .sandwich_menu > li> a {font-family: big_noodle_titling, sans-serif; font-size: 28px; letter-spacing: 0.1em; text-decoration: none; color: #3d3d3d;}
  .sandwich_menu > li>a:hover {border-bottom: 1px solid #e84c3d;}

  /*slider*/
  .slides ul li{
      height:20px;
      width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 0;
    display: none;
    transition: opacity 0.6s ease;
    z-index: 1;
  }
.flexslider .slides img:before {content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all .45s;
  background: rgba(0, 0, 0, .5);
}
.slider {
    clear: both; 
    overflow: hidden;     
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
    position: relative;

}
.slider-info {position: absolute; top: 45%; left:0; right: 0; text-align: center; display: block;}
.slider-info_scroll {text-align: center; display: block; margin-top: 5%;}
.flexslider {margin: 0!important;}
.flexslider .slides li {position: relative;}
#slider .slider-info_mouse {width: 18px; margin: 0 auto;}
.slider-info_span {color: #d6d5d5; text-transform: uppercase; font-family: big_noodle_titling, sans-serif; font-size: 36px;}
.slider-info_link {text-decoration: none; text-transform: uppercase; color: #ffffff; display: block; margin-top: 20px;}
.slider-info_scroll:hover, .slider-info_scroll:focus, .slider-info_scroll:active {text-decoration: none;}
.slider-text-shadow {text-shadow: rgb(3, 3, 3) 8px 7px 7px}
/*end slider*/


/*about block*/
.about {padding-bottom: 100px;     margin-top: -22px;}  /*переделать*/
.h2_description {text-align: center;}
.about-block { margin: 60px 20px 0 20px;}
.about-block_background {background: #ebebeb; overflow: hidden;}
.about-block_image-wrapper {width: 60px; height: 60px; margin: 20px auto; display: block;}
.about-block_image-1 {background: url("../img/about_1.png")center no-repeat}
.about-block_image-2 {background: url("../img/about_2.png")center no-repeat}
.about-block_image-3 {background: url("../img/about_3.png")center no-repeat}
.about-block_description, .about-block p {text-align: center; display: block; color: #707070}
.about-block_description {font-family: robotobold, sans-serif; font-size: 18px; text-transform: uppercase;}
.about-block p {font-family: robotothin, sans-serif; font-size: 14px; margin: 7% 7% 13% 7%;}
.about-blocks{
      display: flex;
    justify-content: center;
}
.about-header{
    margin: auto;
    width: 45%;
    padding: 2% 0 0 0;
}
/*end about block*/

/*video block*/
.presentation-wrapper {width: 100%;     display: block;}
.scene {width: 50%; float: left; background: #171f23; overflow: hidden;}
.video {width: 50%; float: right;}
.scene_name {font-family: robotobold, sans-serif; font-size: 30px; color: #e7e7e7; text-align: center; text-transform: uppercase; margin-top: 130px;}
.scene p {font-family: robotothin, sans-serif; font-size: 14px; color: #696969; margin: 30px 10% 50px 10%; text-align: center; line-height: 1.4;}
.calltoaction {
  display: block;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  color: #ebebeb;
  font-family: robotobold, sans-serif;
  font-size: 14px;}
.video iframe {height: 100%; width: 100%;}
/*end video block*/

/*works*/
.tabs_projects img{
    height:300px;
    width:335px;
}
/*.tabs_projects p{
     display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
   
}
.tabs_projects img:hover, p{
    display: block;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}*/
.tabs{text-align: center; margin: 50px 0 80px 0;}
.tabs > div{padding-top:10px;}
.tabs ul{display: inline-block;}
.tabs ul:after{
  content:"";
  display:block;
  clear:both;}
.tabs ul li{
  margin:0;
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 25px;
  color:#3d3d3d;
  font-family: robotolight,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
  font-size: 14px;}
.tabs ul li.active, .tabs ul li.active:hover{
  border-bottom: 1px solid #e84c3d;
  padding-bottom: 8px;
  color:#3d3d3d;
  font-family: robotobold,sans-serif;}
.tabs ul li:hover{background:#d6d6d7;}

.tabs_projects{
        display: flex;
    /* margin: 0 0 0 0; */
    /* padding: 0 0 0 0; */
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    align-content: stretch;
    flex-wrap: wrap;
}
/*endworks*/

/*features*/
.features {width: 100%; background: #171f23; padding-bottom: 69px;  margin: 0 0 0 0;}
.features_image {width: 56px; height: 56px; margin: 44px auto 30px auto;}
.features_name, .features_count {text-align: center; font-family: robotolight, sans-serif; color: #f6f6f6; display: block;}
.features_name {font-size: 18px; margin-bottom: 28px;}
.features_count {font-size: 48px;}
.features-blocks{
    margin: -63px 0 0 0;
    display: flex;
        justify-content: space-around;
}
.features-block{
    /*padding: 0 5% 0 5%;*/
}
/*end features*/

/*plan*/
.plan {width: 100%; background: #171f23; }
.plan h3 {margin-bottom: 55px;}
.plan_all {overflow: hidden; text-align: center; /*margin-bottom: 83px;*/     margin-top: 83px;     margin-bottom: -70px;} /*переделать*/
.plan_wrapper {border: 1px solid #171f23; width: 260px; display: inline-block;}
.plan_wrapper:hover, .plan_wrapper:active, .plan_wrapper:focus {border: 1px solid #f6744b;}
.plan_name_background {background: #0e1316;}
.plane_name {   
     text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: robotobold, sans-serif; 
    font-size: 14px; 
    color: #ffffff; 
    text-align: center; 
    padding: 43px 0 10px 0;}
.plan_price {font-family: robotolight, sans-serif; font-size: 36px; color: #ffffff; text-align: center; padding: 0 85px 39px 85px;}
.plan_info {text-align: center; background: #1f282c; color: #ffffff; font-size: 14px; overflow: hidden;
}
.plan_info >  div {font-family: robotolight, sans-serif; padding: 12px 0;}
.plan_info > span {font-family: robotoregular, sans-serif;}
.margin-top {margin-top: 38px;}
.purchase {background: #f6744b; text-align: center; width: 125px; border-radius: 10px; margin: 66px auto 46px auto; 
}
.purchase > a {color: #ffffff; display: block; font-family: robotobold, sans-serif; font-size: 14px; letter-spacing: 2px; padding: 3% 3% 3% 3%;    text-decoration: none;}
.purchase  a:hover {color: #171f23;}
.plan_wrapper:hover .plan_info div span {    color: #f6744b;}
.plan_info div span {
        font-size: 17px;
    margin-right: 8px;
}
/*end plan*/

/*who we are*/
.who-we-are{
       margin: 75px 0 0 0;
    text-align: center;
    display: block;
}
.weare-inline{
    display:inline-flex;
    margin: 0 10% 0 10%;
}
.author, .author-skills {
    /* overflow: hidden; */
    height: 50%;
    background: #ebebeb;
    margin: 3% 3% 3% 0;
    padding: 0% 4% 0% 4%;
}
.author_photo {margin: 72px 93px 30px 93px; width: 134px; height: 134px; margin-left: auto; margin-right: auto;}
.author_name {display: block; font-weight: 600; font-family: robotobold, sans-serif; font-size: 20px; text-transform: uppercase; color: #3d3d3d; text-align: center;}
.author_specialization {margin: 8px 0 24px 0; display: block; font-family: robotolight, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase; text-align: center;}
.author_social-links {display: block; text-align: center; margin-bottom: 40px;}
.author_social-links a {color: #696969; margin: 0 10px;}
.author_social-links a:hover {color: #3d3d3d;}
.my-skills {font-family: roboto_condensedregular, sans-serif; font-size: 24px; text-transform: uppercase; margin-top: 106px; color: #3d3d3d;font-weight: 600}
.my-skills_description {color: #858383; font-family: robotothin, sans-serif; font-size: 14px; padding: 29px 20px 26px 0;}
.skill-wrapper {overflow: hidden;}
.skill_name {float: left; display: block; margin-bottom: 22px; font-weight: 700; font-family: robotobold, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase;}
.meter-wrapper {margin-bottom: 50px;}
.meter {background: white; height: 2px; margin: 6px 60px 0 15%;}
.meter_color {background: #e84c3d; display: block; height: 2px;}
.skill_progress {float: right; font-family: robotolight, sans-serif; font-size: 14px; margin-right: 20px;}
.features {width: 100%; background: #171f23; padding-bottom: 69px;}
.features_image {width: 56px; height: 56px; margin: 44px auto 30px auto;}
.features_name, .features_count {text-align: center; font-family: robotolight, sans-serif; color: #f6f6f6; display: block;}
.features_name {font-size: 18px; margin-bottom: 28px;}
.features_count {font-size: 48px;}
/*end who we are*/

/*get-in-touch*/
.get-in-touch {margin-bottom: 83px;     margin-top: 83px;}
.form {    
    margin: 70px 15% 0 20%;
    width: 60%;}
.form label {position: relative; left: 15px; top:10px; font-family: robotobold, sans-serif; font-size: 14px;}
.form-input {
  border: none;
  font-family: robotoregular, sans-serif;
  font-size: 14px;
  text-align: left;
  padding-bottom: 5px;
  margin-top: 48px;
  width: 100%;
  background: url("../img/form_input_underline.png")repeat-x bottom left;
}
.form-input:focus {outline: none;}
.send-button {  margin-left: 40%;   text-align: center; background: #f6744b; text-align: center; font-family: robotobold, sans-serif; font-size: 14px; color: #ffffff; border: none; padding: 20px 42px; margin-top: 60px; display: inline-block;}
#form-inline-block{
    display:flex;
    margin: 0 0 0 0;
}
.form-block{
    width: 100%;
    float: left;
    margin: 10px 25px;
}
.form-block-massage{
    width: 96%;
    float: left;
    margin: 0 0 0 2%;
}

.about-header p{
  
    color: #696969;
}
.form-block span, .form-block-massage span{
    color: #f6744b;
    margin-left: 5px;
}
.textinput {
    font-weight: 700;
    color: #696969;
    margin-bottom: 5px;
}
/*end get-in-touch*/

/*footer*/
footer {background: #171f23; width: 100%;}
.map {width: 100%; background: #0c1215;}
.link_wrapper {
    width: 240px;
    margin: 0 auto;
}
.link_wrapper >  a {
    display:flex;
        width: 300px;
    font-family: roboto_condensedbold, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 33px 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;}
.link_wrapper >  a:hover, a:active, a:focus {text-decoration: none;}
 .link_wrapper > img {padding-left: 13px; margin-bottom: 4px;}
 .link_wrapper img{
    height:10px;
    width:20px;
        margin: 4px 0 0 0;
 }
.map_wrapper {display: none; position: relative;}
.map-overlay {width:100%; min-height:600px; position:absolute; top:0;}
.footer_info {text-align: center; margin-top: 50px;}
.rocket {margin-bottom: 10px;}
.layout_name {font-family: BigNoodleTitling, sans-serif; font-size: 24px; letter-spacing: 0.1em; color: #ffffff; margin-bottom: 14px;}
.layout_description {font-family: roboto_condensedregular, sans-serif; font-size: 14px; color: #ffffff; letter-spacing: 0.1em; text-transform: uppercase; margin-bottom: 0px;}
/*end footer*/