﻿body {
    background-image: url('../img/32330-NYMXRU.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
body {
    padding-top: 61px;
}
#white {
    padding-bottom: 200px;
    background-image: url('../img/preview.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    color:#2d6bc2;
}
#img {
    background-repeat: no-repeat;
    background-image: url('../img/black.png');
    background-size: 100%;
}