﻿.navbar ul {
    margin: 15px 0 0 20%;
}
.navbar ul li {
    display: inline-block;
    margin: 18px 0 25px 0;
}
.navbar ul li a{
    font-size: 16px;
    color:#0056de;
    padding: 10px;
}
.navbar ul li a:hover {
    color: white;
    background-color:#0056de;
    text-decoration: none;
}
.navbar-inverse {
    background-color:white;
}
.navbar img{
    position: absolute;
    top: 10px;
    left: 10%;
}
footer p{
    font-size:large;
    color:#0056de;
}
.dropdown-menu li{
    font-size: 16px;
    color:antiquewhite;
    padding: 2px;
}
#exist{
    right: 10%;
}
footer{
color:white;
}