﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/styles/Index.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <img src="~/img/Снимок экрана (97).png" height="70" width="100" />
            <ul>
                <li><a>@Html.ActionLink(@Resources.Resource.Index, "Index", "Home")</a> </li>
                <li>@Html.ActionLink(@Resources.Resource.NewPatient, "CreatePatient", "Patient")</li>
                <li>@Html.ActionLink(@Resources.Resource.NewWorker, "CreateStaff", "Staff")</li>          

                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @using (Html.BeginForm("ChangeCulture", "Home", new { id = "changelan" }))
            {
                <center>
                    <p>
                        &copy; @DateTime.Now.Year - Ukraine  Medicare
                        <select class="language" onchange='CheckLanguage()' name="lang">
                            <option disabled selected>@Resources.Resource.ChooseLang</option>
                            <option value="ru">@Resources.Resource.UkarineLang</option>
                            <option value="en">@Resources.Resource.EnglishLang</option>
                        </select>
                        <input class="language" type="submit" name="submit" value="@Resources.Resource.ChooseLang">
                    </p>
                </center>
            }
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
