﻿body {
    margin: 0;
    padding: 0;
    display: block;
    background-image: url('image/grey_wash_wall_@2X.png');
}
h3{
    color:#9e852f;
}
a{
    text-decoration:none;
    color:#9e852f;
}
#menuRight{
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}
#menuLeft{
     float: left;
     margin-left: 5%;
}
nav {
    background-color: #d9dadc;
    width: 70%;
    position: inherit;
    top: 0;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    z-index: 2;
}
#searchButton{
    background-color:#942e12;
    color:#ffffff;
    border:none;
}
#sliderBackground {
    background-image: url('image/squared_metal_@2X.png');
    height: inherit;
    width: 100%;
    position: inherit;
    margin-top: 6%;
}
#contentBackground{
    background: -moz-linear-gradient(top, #c8c8c8 0%, #707973 0%, #465549 1%, #49594b 7%, #4f5f52 15%, #4f6050 16%, #58685b 26%, #586959 27%, #5b6b5d 29%, #617262 39%, #627364 74%, #607062 82%, #536154 87%, #505e51 92%, #4e5c4f 92%, #4e5c4f 100%, #3e4a3f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c8c8c8 0%,#707973 0%,#465549 1%,#49594b 7%,#4f5f52 15%,#4f6050 16%,#58685b 26%,#586959 27%,#5b6b5d 29%,#617262 39%,#627364 74%,#607062 82%,#536154 87%,#505e51 92%,#4e5c4f 92%,#4e5c4f 100%,#3e4a3f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c8c8c8 0%,#707973 0%,#465549 1%,#49594b 7%,#4f5f52 15%,#4f6050 16%,#58685b 26%,#586959 27%,#5b6b5d 29%,#617262 39%,#627364 74%,#607062 82%,#536154 87%,#505e51 92%,#4e5c4f 92%,#4e5c4f 100%,#3e4a3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#3e4a3f',GradientType=0 ); /* IE6-9 */
    height:inherit;
    width:100%;
    position:absolute;
}
#searchPanel{
   display: inline-flex;
}
footer{
    position: static;
    left: 0;
    bottom: 1%; 
    width: 100%;
    text-align:center;
    color:#ffffff;
    margin-top: 1%;
}
h1{
    font-size: 40px;
    margin: 0;
}
h3{
    margin-top:0;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { 
        overflow: hidden;
    height: inherit;
    width: 70%;
    margin-top: 0;
    position: inherit;
    margin-left: 15%;
}
div#slider figure img { 
    width: 20%; 
    float: left; 
    height:inherit;
}
div#slider figure { 
     position: relative;
    width: 500%;
    /* height: inherit; */
    margin-left: 15%;
    text-align: left;
    animation: 30s slidy infinite;
}
li>img{
    width:100%;
    height:100%;
}
.inlineContent {
    display: table-cell;
    border: 1px solid #8a8585;
    background: #fc3;
    padding: 10px 40px 10px 40px;
    height: inherit;
}
#bottom {
    background-color: #ced1c8;
    width: 60%;
    margin-left: 20%;
}

/* Базовый контейнер табов */
.tabs {
    width: 40%;
    float: right;
    padding: 0px;
    margin: 0 auto;
    color: #d9dadc;
}
/* стили секций с содержанием */
section {
  display: none;
  padding: 15px;
  background: #fff;
      border: 1px solid #8a8585;
}
.tabs input {
  display: none;
}
/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
   padding: 5% 5% 5% 5%;
  font-weight: 600;
  text-align: center;
  color: #070606;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #942e12;
  background-color:#ffffff;
  cursor: pointer;
  
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: #942e12;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
radio{
    visibility:hidden;
}

#content {
    width: 60%;
    height: inherit;
    z-index: 4;
    overflow: hidden;
    position: relative;
    margin-left: 20%;
    margin-top: -5%;
    display: inline-flex;
}
#firstLi{
    color:#ffffff;
}
 li {
    list-style-type: none;
   }
   ul {
    margin-left: 0;
    padding-left: 0; 
   }
   #inline{
       display:inline-block;
   }
   #right{
       float:right;
   }
   #left{
       float:left;
   }

   .tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

/*slider*/
.wrapper {
			background: #fff;
			width: 700px;
			padding: 1px 15px 15px;
			margin: 0 auto; 
		}
       .slider {
           box-shadow: 0 0 15px 0 rgba(11, 5, 68, 0.92);
           z-index: 2;
           width: 70%;
           height: 100%;
          overflow: hidden;
          margin: 0 0 0 15%;
          position: relative;
        }
		.slider ul,
		.slider li {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		.slider ul {
			width: 9999px; 
		}
		.slider ul li {
			list-style-type: none;
			float: left;
             width: 1050px;
             height: 403px;
		}
		.slider .nav {
        position: absolute;
        right: 20px;
        top: 20px;
        }
		.slider .nav span {
			opacity: 0.9;
			background: #fff;
			margin: 0 8px 0 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
		}
		.slider .nav span.on {
			background: #f6d828;
		}

       #contentslider {
    position: absolute;
    top: 10%;
    right: 7%;
    color: white;
}
       #contentslider> h2{
           font-style: italic ;
       }
       #contentslider> p{
           font-style: italic ;
           padding: 0 0 0 0;
       }
       .tabscontent{
           position:inherit;
       }
       .tabscontent1{
         display: inline-flex;
       }
         .tabscontent1>p{
            margin: 0 0 5px 15px;
            color:#942e12;
       }
           .tabscontent1>img{
            border: 1px double #620808;
       }
     #blackground {
    background-color: #ffffff;
    width: 100%;
    height: 13%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
}
       .leftmenu {
          width: 20%;
         float: left;
          padding: 0px;
          margin-top: 6%;
          color: #d9dadc;
          height: inherit;
          background-color: white;
           border: 1px solid #8a8585;
}
       .centermenu{
            background-color: white;
            margin-top:6%;
            align-self: inherit;
            text-align: center;
       }
       button{
               background: #fc3;
               color:#ffffff;
               padding: 5px 5px 5px 5px;
       }
       .main-menu>li{
           margin-left:10%;
               padding: 5px 5px 5px 5px;
       }
        .main-menu>li:hover{
           margin-left:10%;
           margin-bottom: 5%;
           background-color:#8a8585;
       }
        .main-menu>li>a{
           color: #942e12;
       }
           .main-menu>li:hover>a{
          color:#ffffff;
       }

.leftmenu ul>#reletiveStyle  {
   
    position: relative;
    top: 100%;
}

.leftmenu ul li > ul  {
    display: none;
}

.leftmenu ul li:hover > ul {
     display: block;   
}

.leftmenu ul li:hover >#services  {
    min-width:100px;
    padding: 10px 10px;
    position: absolute;
    top:0;
    left:100%;
    background-color:#8a8585;
     color:#ffffff;
}

#services>li>a  {
     color:#ffffff;
}