﻿@model IEnumerable<Couchsurfing.BL.ViewModels.AboutModel>

@foreach (var item in Model)
{
    if (item.Avatar != null)
    {
        var base64 = Convert.ToBase64String(item.Avatar);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img class="img-circle" alt="Cinque Terre" id="messager" src="@imgSrc" />
    }
    else
    {
        <img class="img-circle" alt="Cinque Terre" id="messager"
             src="https://tcdn.couchsurfing.com/bBKFk_5Boorr6nlYv8XoDVn5TGk=/300x300/smart/https://s3.amazonaws.com/ht-images.couchsurfing.com/u/2004304924/d8d2ffdb-486e-463e-8aba-db2460432ba6">
    }
}
<span class="caret"></span>
