﻿<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close">
            </div>
            <div class="button minimize">
            </div>
            <div class="button maximize">
            </div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">

            <input class="hdId" type="hidden" />
            <input class="username" type="hidden" />
            @*<div class="chatusers">
                <p><b>Все пользователи</b></p>
            </div>*@

            <input class="message_input" placeholder=@Resources.Resource.WriteMessager />
        </div>
        <div class="send_message">
            <div class="icon">
            </div>
            <div class="text">
                Send
            </div>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <img class="avatar" @*src="@imgSrc"*@/>
        <div class="text_wrapper">
            <div class="text">
            </div>
        </div>
    </li>
</div>

@section scripts
    {
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>

    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/chat.js"></script>
}