﻿
    <div class="slider">
        <img class="mySlides" src="~/Image/104.jpg">
        <img class="mySlides" src="~/Image/25005.jpg">
        <img class="mySlides" src="~/Image/25037.jpg">
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@Resources.Resource.JoinCouchsurfing</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Register")
                </div>

            </div>
        </div>
    </div>

    <div id="myModal2" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@Resources.Resource.LogInCouchsurfing</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Login")
                </div>

            </div>
        </div>
    </div>

    <div id="myModal3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@Resources.Resource.LogInCouchsurfing</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateUser")
                </div>

            </div>
        </div>
    </div>

    <div class="about">
        <div class="about-header">
            <h2>About Us</h2>
            <p class="h2_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="about-blocks">
            <div class="about-block">
                <div class="about-block_background">
                    <span class="about-block_image-wrapper about-block_image-1"></span>
                    <span class="about-block_description">Creative Design</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do . . .</p>
                </div>
            </div>
            <div class="about-block">
                <div class="about-block_background">
                    <span class="about-block_image-wrapper about-block_image-2"></span>
                    <span class="about-block_description">Unique Portfolio</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do . . .</p>
                </div>
            </div>
            <div class="about-block">
                <div class="about-block_background">
                    <span class="about-block_image-wrapper about-block_image-3"></span>
                    <span class="about-block_description">Infinite Updates</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do . . .</p>
                </div>
            </div>
        </div>
    </div>

    <div class="presentation-wrapper">
        <div class="scene">
            <div class="scene_name">Watch behind the scene</div>
            <p>Lorem ipsum dolo the lorem r sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
            <a class="calltoaction" href="#">Play now</a>
        </div>
        <div class="video" >
            <iframe src="https://www.youtube.com/embed/8UVNT4wvIGY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="features">
        <div class="about-header">
            <h3>Some Features</h3>
        </div>
        <div class="features-blocks">
            <div class="features-block">
                <div class="features_image" style="background: url('../../Image/icon3.png')center no-repeat;"></div>
                <span class="features_name">Shortcodes</span>
                <span class="features_count">46</span>
            </div>
            <div class="features-block">
                <div class="features_image" style="background: url('../../Image/icon1.png')center no-repeat;"></div>
                <span class="features_name">Integrated Plugins</span>
                <span class="features_count">128</span>
            </div>
            <div class="features-block">
                <div class="features_image" style="background: url('../../Image/icon2.png')center no-repeat;"></div>
                <span class="features_name">Creative Products</span>
                <span class="features_count">450</span>
            </div>
            <div class="features-block">
                <div class="features_image" style="background: url('../../Image/icon3.png')center no-repeat;)"></div>
                <span class="features_name">Clients Worldwide</span>
                <span class="features_count">100+</span>
            </div>
        </div>
    </div>

    <div class="works">
        <div class="about-header">
            <h2>Our Travel</h2>
            <p class="h2_description ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="tabs">
            <ul>
                <li>All travel</li>
                <li>Photography</li>
                <li>Travel for you</li>
                <li>Branding</li>
                <li>New travel</li>
            </ul>
            <div>
                <div class="tabs_projects">
                    <img src="~/Image/slider1.jpg" />
                    <img src="~/Image/slider2.jpg" />
                    <img src="~/Image/slider3.jpg" />
                    <img src="~/Image/img1.jpg" />
                </div>
                <div class="tabs_projects" style="display:block">
                    <img src="~/Image/slider2.jpg" />
                    <img src="~/Image/slider3.jpg" />
                    <img src="~/Image/img1.jpg" />
                </div>
                <div class="tabs_projects" style="display:block">
                    <img src="~/Image/slider2.jpg" />
                    <img src="~/Image/slider3.jpg" />
                </div>
                <div class="tabs_projects" style="display:block">
                    <img src="~/Image/3.jpg" />
                    <img src="~/Image/slider3.jpg" />
                </div>
                <div class="tabs_projects" style="display:block">
                    <img src="~/Image/slider3.jpg" />
                    <img src="~/Image/img1.jpg" />
                    <img src="~/Image/slider1.jpg" />
                    <img src="~/Image/slider2.jpg" />
                </div>
            </div>
        </div>
    </div>

<div class="plan">
    <div class="about-header">
        <h3>Chose a travel</h3>
    </div>
    <div class="plan_all">
        <div class="plan_wrapper">
            <div class="plan_name_background">
                <div class="plane_name">Basic</div>
                <div class="plan_price">Free</div>
            </div>
            <div class="plan_info">
                <div class="margin-top"><span>20</span>Pages</div>
                <div><span>2</span>GB Storage</div>
                <div><span>150</span>Members</div>
                <div><span>2</span>Contributors</div>
            </div>
        </div>
        <div class="plan_wrapper">
            <div class="plan_name_background">
                <div class="plane_name">Professional</div>
                <div class="plan_price">$120.00</div>
            </div>
            <div class="plan_info">
                <div class="margin-top"><span>20</span>Pages</div>
                <div><span>2</span>GB Storage</div>
                <div><span>150</span>Members</div>
                <div><span>2</span>Contributors</div>
            </div>
        </div>
        <div class="plan_wrapper">
            <div class="plan_name_background">
                <div class="plane_name">Premium</div>
                <div class="plan_price">$90.00</div>
            </div>
            <div class="plan_info">
                <div class="margin-top"><span>20</span>Pages</div>
                <div><span>2</span>GB Storage</div>
                <div><span>150</span>Members</div>
                <div><span>2</span>Contributors</div>
            </div>
        </div>
        <div class="plan_wrapper">
            <div class="plan_name_background">
                <div class="plane_name">Standart</div>
                <div class="plan_price">$70.00</div>
            </div>
            <div class="plan_info">
                <div class="margin-top"><span>20</span>Pages</div>
                <div><span>2</span>GB Storage</div>
                <div><span>150</span>Members</div>
                <div><span>2</span>Contributors</div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
      <script>
    function Go() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByName?searchString=" + elem);
    }
    function Go1() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByLiving?searchString=" + elem);
    }
    function Go2() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByAll?searchString=" + elem);
    }
</script>
    }