﻿@model Couchsurfing.BL.ViewModels.SearchModel

@{
    var listArangment = (ViewBag.Arangment as List<SelectListItem>);
    if (listArangment == null) { listArangment = new List<SelectListItem>(); }
}

@using (Html.BeginForm("SearchByAll", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SearchModel</h4>
        <hr />
        <br>
        <br />
        <br />
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.User_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.User_status, new SelectList(
                new List<Object>{
                new { value=@Resources.Resource.YesGuist  , text = @Resources.Resource.YesGuist  },
                    new { value=@Resources.Resource.NotGuist , text = @Resources.Resource.NotGuist  } },
                "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Languages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Languages, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sleeping_arrangement_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Sleeping_arrangement_id, listArangment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sleeping_arrangement_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.sex, new SelectList(
                    new List<Object>{
                    new { value=@Resources.Resource.Female, text = @Resources.Resource.Female  },
                    new { value=@Resources.Resource.Male, text = @Resources.Resource.Male  } },
                    "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.max_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.max_number, new SelectList(
                        new List<Object>{
                        new { value="1" , text = "1"},
                        new { value="2" , text = "2"  },
                        new { value="3" , text = "3"  },
                        new { value="4" , text = "4"  },
                        new { value="5" , text = "5"  },
                        new { value="6" , text = "6"  },
                        new { value="7" , text = "7"  },
                        new { value="8" , text = "8" } },
                       "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.max_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fromyear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fromyear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fromyear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.toage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.toage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.toage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    function Go() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByName?searchString=" + elem);
    }
    function Go1() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByLiving?searchString=" + elem);
    }
    function Go2() {
        var elem = document.getElementById("text").value;
        location.replace("/Home/SearchByAll?searchString=" + elem);
    }
</script>