﻿@model IEnumerable<Couchsurfing.BL.ViewModels.SearchModel>

@foreach (var item in Model)
{
<div class="user-content" id="search">
        <div class="left-menu" id="search">
        @if (item.Avatar != null)
        {
            var base64 = Convert.ToBase64String(item.Avatar);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img class="box-image-image" alt="Your avatar here" src="@imgSrc" />
        }
        else
        {
            <img class="box-image-image"
                 src="https://tcdn.couchsurfing.com/bBKFk_5Boorr6nlYv8XoDVn5TGk=/300x300/smart/https://s3.amazonaws.com/ht-images.couchsurfing.com/u/2004304924/d8d2ffdb-486e-463e-8aba-db2460432ba6">
        }
       </div>
        <div class="right-menu" id="search">
            @Html.DisplayFor(modelItem => item.FirstName)


            @Html.DisplayFor(modelItem => item.SecondName)

            @Html.DisplayFor(modelItem => item.User_status)

            @Html.DisplayFor(modelItem => item.Languages)
        </div>
        </div>
        }
        <script>
            function Go() {
                var elem = document.getElementById("text").value;
                location.replace("/Home/SearchByName?searchString=" + elem);
            }
            function Go1() {
                var elem = document.getElementById("text").value;
                location.replace("/Home/SearchByLiving?searchString=" + elem);
            }
            function Go2() {
                var elem = document.getElementById("text").value;
                location.replace("/Home/SearchByAll?searchString=" + elem);
            }
        </script>
