﻿@model IEnumerable<Couchsurfing.BL.ViewModels.NecessaryDataRegistrationModel>

@{
    ViewBag.Title = "Work_scheduleGrid";
}

<h2>Work_scheduleGrid</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserRegistration_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Living_place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_status_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserRegistration_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Living_place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_status_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
