﻿<div class="jumbotron text-center">
    <h1>The Home Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>

    <a ui-sref=".registration" class="btn btn-primary">Registration</a>
    <a ui-sref=".about" class="btn btn-danger">Some Messager</a>

</div>
<div ui-view></div>