﻿<div class="page-header">
    <center>
        <h2> {{headerContent.title}} </h2>
    </center>
</div>

    <div class="form-inline">

        <div class="col-md-4">
            <div class="form-horizontal">
              
                    <div class="col-md-8">
                        <input class="form-control" required ng-model="name" placeholder="Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input class="form-control" required ng-model="surname" placeholder="Surname" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="email" class="form-control" required ng-model="email" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="password" class="form-control" required ng-model="password" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="number" class="form-control" required ng-model="number" placeholder="Tel. number" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="checkbox-inline"><input type="checkbox" required ng-model="age" />Age 18+</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="addUser(name, surname, email, password,number, age)">Regist</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div>       
                <label>Filter: <input ng-model="items.$"></label> <br>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Tel. number</th>
                        <th>Age 18+</th>
                        <th>
                            <input type="checkbox" ng-model="findage" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list.items | filter:items | filter:findage | orderBy: 'name'" ">
                        <td>{{item.name}}</td>
                        <td>{{item.surname}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.password}}</td>
                        <td>{{item.number}}</td>
                        <td><input type="checkbox" ng-model="item.age" /></td>
                        <td>
                            <button class="btn btn-default" ng-click="deleteUser($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

