﻿.img {
    background-image: url('../../img/1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 710px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.img div{
 position: absolute;
    top: 150px;
    left: 800px;
}

.row {
    display: table;
      margin-top:500px;
}

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.row [class*="col-"]> p{
    vertical-align:bottom;
}
@media all and (max-width: 800px) {
.row {
   margin-top:500px;
  display:flex;
  flex-wrap:wrap;
}
.row > [class*='col-'] {
	 display:flex;
	 flex-direction:column;
}    
}


.img h1{
   color:#0019de;
   font-family:Arial,serif;
   font-size:30pt;
   font-style: italic;
}
.img h2{
   color:#0019de;
   font-family:Arial,serif;
   font-size:28pt;
   font-style: italic;
}
.img h3{
   color:#0019de;
   font-family:Calibri,sans-serif;
   font-size:24pt;
   font-style: italic;
}

#col1{
    background-color:#00bcde;
}
#col2{
    background-color:#0086de;
}
#col3{
    background-color:#0056de;
}
#col4{
    background-color:#0019de;
}
#col3 h2, #col3 p, #col4 h2, #col4 p, #col2 h2, #col2 p, #col1 h2, #col1 p {
    color: white;
}

#col1 p a:hover {
    color: #808080;
     background-color:white;
}
#col1 p a {
    background-color:#00bcde;
    color: white;
}
#col2 p a:hover {
    color: #808080;
    background-color:white;
}
#col2 p a {
    background-color:#0086de;
    color: white;
}
#col3 p a:hover {
    color: #808080;
     background-color:white;
}
#col3 p a {
    background-color:#0056de;
    color: white;
}
#col4 p a:hover {
    color: #808080;
     background-color:white;
}
#col4 p a {
    background-color:#0019de;
    color: white;
}