﻿@model Business_Layer.DataModels.PatientDataModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientDataModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number_of_med_cards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_med_cards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period_of_nutrition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period_of_nutrition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_contracts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_contracts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
