﻿@model IEnumerable<Business_Layer.DataModels.PatientDataModel>
@using GridMvc.Html
<meta name="viewport" content="width=device-width" />

@{
    ViewBag.Title = "PatientGrid";
}
<link href="~/Content/GridGround.css" rel="stylesheet" />
<div id="white">
    <center>
    <h2>Перелік пацієнтів</h2>
        
    @Html.Grid(Model).SetLanguage("uk").Columns(columns =>
{
    columns.Add(data => data.Number_of_med_cards).Titled(" № Мед карти").Filterable(true);
    columns.Add(data => data.Surname).Titled("ПІБ").RenderValueAs(o => o.Surname + " " + o.Name + " " + o.Middle_name).Filterable(true);
    columns.Add(data => data.Sex).Titled("Стать").Filterable(true);
    columns.Add(data => data.Birthday).Format("{0:dd/MM/yyyy}").Titled("День нар.").Filterable(true);
    columns.Add(data => data.Position).Titled("Посада").Filterable(true);
    columns.Add(data => data.Period_of_nutrition).Titled("Період харч.").Filterable(true);
    columns.Add(data => data.Number_of_contracts).Titled("№ Контракту").Filterable(true);
    columns.Add(data => data.Number_of_category).Titled("Категорія").Filterable(true);
    columns.Add()
                       .Encoded(false)
                       .Sanitized(false)
                        .SetWidth(30)
                       .RenderValueAs(o => Html.ActionLink("Госпіталізація", "CreateHospitalization", "Hospitalization", new { Name = "Example" }, new { id = o.Number_of_med_cards }));
    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Редагувати", "EditPatient", new { id = o.Number_of_med_cards }));
    columns.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(o => Html.ActionLink("Видалити", "DeletePatient", new { id = o.Number_of_med_cards }));
}).WithPaging(4).Sortable(true).WithMultipleFilters()
</center>
</div>
@section Scripts {

@Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
<link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />


}
