﻿
<div class="img">
    <div>
        <h1>@Resources.Resource.slog1</h1>
        <h2>@Resources.Resource.slog2</h2>
        <h3>
            @Resources.Resource.slog3
            @Resources.Resource.slog4
        </h3>
    </div>
</div>


<div class="row">
    <center>
        <div class="col-md-3" id="col1">
            <h2>@Resources.Resource.WorkersProfile</h2>
            <p>@Resources.Resource.WorkersProfileInform</p>
            <p>@Html.ActionLink(Resources.Resource.Review, "StaffGrid", "Staff", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-3" id="col2">
            <h2>@Resources.Resource.PatientProfile</h2>
            <p>@Resources.Resource.PatientProfileInform</p>
            <p> @Html.ActionLink(Resources.Resource.Review, "PatientGrid", "Patient", null, new { @class = "btn btn-default" }) </p>
        </div>
        <div class="col-md-3" id="col3">
            <h3 style="color:#ffffff">@Resources.Resource.MedDiagnosis</h3>
            <p>@Resources.Resource.MedDiagnostisInform</p>
            <p> @Html.ActionLink(Resources.Resource.Review, "PatientGrid", "Patient", null, new { @class = "btn btn-default" }) </p>
        </div>
        <div class="col-md-3" id="col4">
            <h2>@Resources.Resource.Analysis</h2>
            <p> @Html.ActionLink(Resources.Resource.Review, "HospitalizationGridWith", "Hospitalization", null, new { @class = "btn btn-default" }) </p>
        </div>
    </center>
    @*  <div class="col-md-3" id="col1">
            <h2>Перегляд довідників</h2>
            <p>Перегляд симптомів, хвороб, формування правил при діагностуванні</p>
            <p>@Html.ActionLink("Перегляд »", "StaffGrid", "Staff", null, new { @class = "btn btn-default" })</p>
        </div>
    <div class="col-md-3" id="col2">
        <h2>Перегляд пацієнтів</h2>
        <p>Перегляд, редагування, видалення пацієнтів, пошук по прізвищу, відділенню, контракту та категорії</p>
        <p> @Html.ActionLink("Перегляд »", "PatientGrid", "Patient", null, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-3" id="col3">
        <h2>Облік та аналіз медичних захворювань пацієнтів</h2>
       <p> @Html.ActionLink("Перегляд »", "HospitalizationGridWith", "Hospitalization", null, new { @class = "btn btn-default"}) </p>
    </div>
    <div class="col-md-3" id="col4">
        <h2>Графік роботи лікарів</h2>
        <p>Продивитися графік роботи лікарів всіх відділень в залежності від вибраної дати</p>
       <p> @Html.ActionLink("Перегляд »", "Work_scheduleGrid", "WorkScheduler", null, new { @class = "btn btn-default"}) </p>
    </div>*@
</div>