﻿
@model Couchsurfing.BL.ViewModels.NecessaryDataRegistrationModel
<link href="~/Content/datapickercustom.css" rel="stylesheet" />
<script src="~/Scripts/datapickercustom.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="white">
            <center>
                <div class="row">
                    <h2>@Resources.Resource.PersoneDate</h2>
                    <hr />
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Sex, new SelectList(
                    new List<Object>{
                new { value=@Resources.Resource.Female  , text = @Resources.Resource.Female  },
                    new { value=@Resources.Resource.Male , text = @Resources.Resource.Male  } },
                   "value", "text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.User_status, htmlAttributes: new { @class = "control-label  col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.User_status, new SelectList(
                    new List<Object>{
                new { value=@Resources.Resource.YesGuist  , text = @Resources.Resource.YesGuist  },
                    new { value=@Resources.Resource.NotGuist , text = @Resources.Resource.NotGuist  } },
                   "value", "text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.User_status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label  col-md-4" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Birthday, new { @class = "datepicker", id = "start_dt" })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Living_place, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Living_place, new { htmlAttributes = new { placeholder = "Город, Страна", @class = "form-control", @id = "findcity", data_autocomplete_source = @Url.Action("AutocompleteSearch", "Home") } })
                                    @Html.ValidationMessageFor(model => model.Living_place, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label  col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value=@Resources.Resource.Ok class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        </div>
</center>
        </div>
     
    </fieldset>
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Styles.Render("~/Content/bootstrap-datepicker.css")


    <script type="text/javascript">

        document.getElementById("start_dt").onclick = function() {showDatePicker()};

        function showDatePicker() {
            var id = 'start_dt';
            var textbox = document.getElementById(id);

            // See if the date picker is already there, if so, remove it
            x = textbox.parentNode.getElementsByTagName('div');
            for (i = 0; i < x.length; i++) {
                if (x[i].getAttribute('class') == 'datepickerdropdown') {
                    textbox.parentNode.removeChild(x[i]);
                    return false;
                }
            }

            var date = parseMyDate(textbox.value);
            if (isNaN(date)) date = new Date();

            // Create the box
            var div = document.createElement('div');
            div.className = 'datepickerdropdown';
            div.setAttribute('datepickertextbox', id); // Remember the textbox id in the div
            createCalendar(div, date); // Create the calendar
            insertAfter(div, textbox); // Add the box to screen just after the textbox
            return false;
        }

            $(function () {
                $("[data-autocomplete-source]").each(function () {
                    var target = $(this);
                    target.autocomplete({ source: target.attr("data-autocomplete-source") });
                });
            });
    </script>

}