﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://developers.google.com/maps/documentation/javascript/demos/demos.css">
    <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <title>@ViewBag.Title – приложение ASP.NET</title>


    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navcontainer">
        <div class="header">
            @Html.ActionLink("Cauchsurfing", "Index", "Home", new { area = "" }, new { @class = "header" })
        </div>
        <div class="registration">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <ul>
            @using (Html.BeginForm("ChangeCulture", "Home", new { id = "changelan" }))
            {
                <li>
                    <select class="language" onchange='CheckLanguage()' name="lang">
                        <option disabled selected>@Resources.Resource.ChooseLang</option>
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                    </select>
                    <input class="language" type="submit" name="submit" value="@Resources.Resource.ChooseLang">
                </li>
            }
        </ul>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @section scripts{
        <script>
        function CheckLanguage() {
            document.getElementById('changelan').submit();
        }
        function Go() {
            var elem = document.getElementById("text").value;
            location.replace("/Home/SearchByName?searchString=" + elem);
        }
        function Go1() {
            var elem = document.getElementById("text").value;
            location.replace("/Home/SearchByLiving?searchString=" + elem);
        }
        function Go2() {
            var elem = document.getElementById("text").value;
            location.replace("/Home/SearchByAll?searchString=" + elem);
        }
        </script>
    }
</body>
</html>
