﻿@using Couchsurfing.Models
@model LoginViewModel

<section id="loginForm">
    @using (Html.BeginForm("_Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <center>
              
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Resources.Resource.EmailAddress })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <br />

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Resource.Password })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <input type="submit" value="@Resources.Resource.LogIn" style="margin-top:10px;" class="btn btn-lg btn-warning btn-block" />
            </center>
        </fieldset>
    }
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }
