﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="registration">
            <li id="search">
                <div  >
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Explore</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:Go()">@Resources.Resource.FindTravelers</a></li>
                                @*<li><a href="javascript:Go2()">@Resources.Resource.ExtendedSearchTravelers</a></li>*@
                                <li><a href="javascript:Go1()">@Resources.Resource.FindCity</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id = "findcity", data_autocomplete_source = @Url.Action("AutocompleteSearch", "Route")>
                        <input type="text" id="text" class="form-control" name="x" placeholder="Enter Name or Living">
                    </div>
                </div>
            </li>
            <li>
                <a href="/Home/Chat">
                        <img src="@Url.Content("~/Image/mail_copy.png")" id="messager" class="btnLogin"/>
                    </a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                      @Html.Action("_PhotoDrop", "Home")

                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(@Resources.Resource.MyProfile, "UserProfile1", "Profile")</li>
                        <li>@Html.ActionLink(@Resources.Resource.EditProfile, "Edit", "Profile")</li>
                       
                        <li>@Ajax.ActionLink(@Resources.Resource.AccountSettings, "EditSettings", "Profile", new AjaxOptions { HttpMethod = "get" })</li>

                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.LogOut</a></li>

                    </ul>
                </div>
            </li>
        </ul>
    }
}
else
{
            <button type="button" class="reg" data-toggle="modal" data-target="#myModal">
                @Resources.Resource.Join
            </button>
            <button type="button" class="log" data-toggle="modal" data-target="#myModal2">
                @Resources.Resource.LogIn
            </button>
}

            @section scripts
{ 
<script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

                <script type="text/javascript">
                    $(document).ready(function (e) {
                        $('.search-panel .dropdown-menu').find('a').click(function (e) {
                            e.preventDefault();
                            var param = $(this).attr("href").replace("#", "");
                            var concept = $(this).text();
                            $('.search-panel span#search_concept').text(concept);
                            $('.input-group #search_param').val(param);
                        });
                    });

                    $(function () {
                        $("[data-autocomplete-source]").each(function () {
                            var target = $(this);
                            target.autocomplete({ source: target.attr("data-autocomplete-source") });
                        });
                    });

                    function Go() {
                        var elem = document.getElementById("text").value;
                        location.replace("/Home/SearchByName?searchString=" + elem);
                    }
                    function Go1() {
                        var elem = document.getElementById("text").value;
                        location.replace("/Home/SearchByLiving?searchString=" + elem);
                    }
                    function Go2() {
                        var elem = document.getElementById("text").value;
                        location.replace("/Home/SearchByAll?searchString=" + elem);
                    }
              </script>
            }
