﻿@using Microsoft.AspNet.Identity
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Amita" rel="stylesheet">

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

            @*@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@

        <ul class="nav navbar-nav navbar-right">
            @*<li>
                <div class="col-xs-6">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Explore</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#contains">Find travelers</a></li>
                                <li><a href="#its_equal">Find hosts</a></li>
                                <li><a href="#greather_than">Find members</a></li>
                                <li class="divider"></li>
                                <li><a href="#all">Anything</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" name="x" placeholder="Where are you going?">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </li>*@
            <li>
                <a href="/Home/ChatView">
                        <img src="@Url.Content("~/Image/mail.png")" id="messager" />
                    </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Trip")">
                    <img src="@Url.Content("~/Image/to-do-list.png")" id="messager" />
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                      @Html.Action("_PhotoDrop", "Home")

                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("My Dashboard", "Index", "Home")</li>
                        <li>@Html.ActionLink("My Profile", "Index", "Home")</li>
                        <li>@Html.ActionLink("Account & Settings", "Index", "Home")</li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    }
}
else
{
            <button type="button" class="reg" data-toggle="modal" data-target="#myModal">
                @Resources.Resource.Join
            </button>
            <button type="button" class="log" data-toggle="modal" data-target="#myModal2">
                @Resources.Resource.LogIn
            </button>
            }

            @section scripts
{
                <script type="text/javascript">
                    $(document).ready(function (e) {
                        $('.search-panel .dropdown-menu').find('a').click(function (e) {
                            e.preventDefault();
                            var param = $(this).attr("href").replace("#", "");
                            var concept = $(this).text();
                            $('.search-panel span#search_concept').text(concept);
                            $('.input-group #search_param').val(param);
                        });
                    });
                </script>
            }
