﻿@model Couchsurfing.Models.RegisterViewModel


@using (Html.BeginForm("_Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <center>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Resources.Resource.EmailAddress, id="mail" })
            <br/>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Resource.Password, id = "password", data_toggle ="tooltip", title= @Resources.Resource.PasswordTooltip })
            <br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id= "passwordfor", placeholder = @Resources.Resource.ConfirmPassword })
            <input type="submit" @*id="OpenFunct"*@ @*id="register"*@ value=@Resources.Resource.Register style="margin-top:10px;" class="btn btn-lg btn-warning btn-block" />
        </center>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
