﻿.datepickerdropdown {
background-color: #00899a;
    background-color: 
    padding: 0 0 0 0;
    position: absolute;
    text-align: center;
        z-index: 5;
}
input.datepicker{
    width:100%;
    padding:10px;
}
.datepickerdropdown table {
  border-collapse:collapse;
  margin:auto;
}
.datepickerdropdown input {
  font-family:monospace;
  border:2px solid #888;
  border-radius:10px;
  margin:1px;
  padding:2px 5px;
  text-align:center;
}
.datepickerdropdown table input[type=button] {
  width:2em;
    border:none;

}
.datepickerdropdown input[type=button] {
  background-color:#ffffff; 
  color: #00899a;
}
.datepickerdropdown input[type=button]:hover {
    color: #ffffff;
     background-color: #00BCD4;
}
.datepickerdropdown input[type=button]:active {
    color: #ffffff;
     background-color: #00BCD4;
}      
.datepickerdropdown input.selected {
     background-color: #00BCD4;
  color:  #ffffff;
}
.datepickerdropdown input[type=text] {
  background:#00BCD4;
  color:#ffffff;
      padding: 5px 5px 5px 5px;
      font-size:12px;
          border: none;
}
.datepickerdropdown input.today {
  border:1px solid red;
}
.datepickerdropdown input.othermonth {
  color:  #ffffff;
  border:1px solid #bbb;
      background-color: #00899a;
}
.datepickershow img {
  border:0;
}
.monthDsp
{
width:80px;
font-size:9px;
}
.daysRow{
font-family:sans-serif;
font-size:11px;
color: #ffffff;
background-color: #00899a;
}
.monthDsp{
width: 100%;
}
.month{
  border-color: #FF5722;
}
.datarow{
  background-color: #00BCD4;
}
th, td
  border:none;
}
  input {
    font-family:monospace;
  }
  .daysRow, .calendaretable{
  	padding: 5px 5px 5px 5px ;
  }