﻿html {position:relative; 
      min-height:100%;}

@media (min-width: 1600px) {
.container {
    width: 80%;
}
}
.container {
    padding:0 0 0 0;
}
@media (max-width:1600px) {
.container {
    width: 100%;
}
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
    /*background-image: url('../Image/sayagata-400px.png');*/
}

.navcontainer{
background-color: #004e58;
display:flex;
    padding: 5px 6%;
}

.navcontainer .header{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: cursive;
}
.registration{
    display:flex;
}

.slider{
    display: flex;
    max-width: 1500px;
    max-height: 600px;
    overflow: hidden;
}
.slider .mySlides{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'big_noodle_titling';
    src: url('../fonts/big_noodle_titling.ttf') format('truetype');
}

h1 {font-family:big_noodle_titling, sans-serif; font-size: 72px; color: #d6d5d5; text-transform: uppercase; letter-spacing: 0.1em;}
h2 {margin-top: 30px; text-align: center; font-family: big_noodle_titling, sans-serif; font-size: 48px; color: #3d3d3d; padding-bottom: 9px; letter-spacing: 5px; margin-bottom: 29px;}
h3 {font-family: big_noodle_titling, sans-serif; font-size: 36px; color: #f6f6f6; text-transform: uppercase; text-align: center; background: url("../img/_underline.png")no-repeat bottom; margin-top: 30px; padding-bottom: 20px; letter-spacing: 0.2em;}
p {font-family: robotothin, sans-serif; font-size: 16px; line-height: 1.4;}
a:hover {text-decoration: none; color: inherit;}

.header{
    width:100%;
    align-content:center;
    padding:0 0 0 0;
}

.zoom:hover {
    zoom: 2;
    align-content: center;
    margin: 0 30% 0 30%;
  
}

/*about block*/
.about {
    padding-bottom: 100px;  
    background-color: #aae1e8;
    margin-top: -22px;
}  
.h2_description {text-align: center;}
.about-block { margin: 60px 20px 0 20px;}
.about-block_background {background: #ebebeb; overflow: hidden;}
.about-block_image-wrapper {
    width: 65px;
    height: 65px;
    margin: 15px auto;
    display: block;
}
.about-block_image-1 {background: url('../Image/icon1.png')center no-repeat}
.about-block_image-2 {background: url('../Image/icon2.png')center no-repeat}
.about-block_image-3 {background: url('../Image/icon3.png')center no-repeat}
.about-block_description, .about-block p {text-align: center; display: block; color: #707070}
.about-block_description {font-family: robotobold, sans-serif; font-size: 18px; text-transform: uppercase;}
.about-block p {font-family: robotothin, sans-serif; font-size: 14px; margin: 7% 7% 13% 7%;}
.about-blocks {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .about-blocks {
       flex-wrap:wrap;
    }
}

.about-header{
    margin: auto;
    width: 45%;
    padding: 2% 0 0 0;
}
/*end about block*/

/*video block*/
@media only screen and (max-width: 700px) {
    .presentation-wrapper {
        flex-wrap: wrap;
    }
}
.presentation-wrapper {display: flex;}
.scene {width: 100%; background: #171f23;}
.video {    width: 100% ;height: initial; }
.scene_name {font-family: robotobold, sans-serif; font-size: 30px; color: #e7e7e7; text-align: center; text-transform: uppercase; margin-top: 130px;}
.scene p {font-family: robotothin, sans-serif; font-size: 14px; color: #696969; margin: 30px 10% 50px 10%; text-align: center; line-height: 1.4;}
.calltoaction {
  display: block;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  color: #ebebeb;
  font-family: robotobold, sans-serif;
  font-size: 14px;}
.video iframe {height: 100%; width: 100%;}
/*end video block*/

/*works*/
.tabs_projects img{
    height:300px;
    width:335px;
}
.tabs{text-align: center; margin: 50px 0 80px 0;}
.tabs > div{padding-top:10px;}
.tabs ul{display: inline-block;}
.tabs ul:after{
  content:"";
  display:block;
  clear:both;}
.tabs ul li{
  margin:0;
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 25px;
  color:#3d3d3d;
  font-family: robotolight,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
  font-size: 14px;}
.tabs ul li.active, .tabs ul li.active:hover{
  border-bottom: 1px solid #e84c3d;
  padding-bottom: 8px;
  color:#3d3d3d;
  font-family: robotobold,sans-serif;}
.tabs ul li:hover{background:#d6d6d7;}

/*endworks*/

/*plan*/
.plan {width: 100%; background: #002f44; }
.plan h3 {margin-bottom: 55px;}
.plan_all {text-align: center; padding-bottom:2%} 
.plan_wrapper {border: 1px solid #171f23; width: 260px; display: inline-block;}
.plan_wrapper:hover, .plan_wrapper:active, .plan_wrapper:focus {border: 1px solid #00BCD4;}
.plan_name_background {background: #0e1316;}
.plane_name {   
     text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: robotobold, sans-serif; 
    font-size: 14px; 
    color: #ffffff; 
    text-align: center; 
    padding: 43px 0 10px 0;}
.plan_price {font-family: robotolight, sans-serif; font-size: 36px; color: #ffffff; text-align: center; padding: 0 85px 39px 85px;}
.plan_info {text-align: center; background: #1f282c; color: #ffffff; font-size: 14px; overflow: hidden;
}
.plan_info >  div {font-family: robotolight, sans-serif; padding: 12px 0;}
.plan_info > span {font-family: robotoregular, sans-serif;}
.margin-top {margin-top: 38px;}
.purchase {background: #f6744b; text-align: center; width: 125px; border-radius: 10px; margin: 66px auto 46px auto; 
}
.purchase > a {color: #ffffff; display: block; font-family: robotobold, sans-serif; font-size: 14px; letter-spacing: 2px; padding: 3% 3% 3% 3%;    text-decoration: none;}
.purchase  a:hover {color: #00BCD4;}
.plan_wrapper:hover .plan_info div span {    color: #00BCD4;}
.plan_info div span {
        font-size: 17px;
    margin-right: 8px;
}
/*end plan*/

/*who we are*/
.who-we-are{
       margin: 75px 0 0 0;
    text-align: center;
    display: block;
}
.weare-inline{
    display:inline-flex;
    margin: 0 10% 0 10%;
}
.author, .author-skills {
    /* overflow: hidden; */
    height: 50%;
    background: #ebebeb;
    margin: 3% 3% 3% 0;
    padding: 0% 4% 0% 4%;
}
.author_photo {margin: 72px 93px 30px 93px; width: 134px; height: 134px; margin-left: auto; margin-right: auto;}
.author_name {display: block; font-weight: 600; font-family: robotobold, sans-serif; font-size: 20px; text-transform: uppercase; color: #3d3d3d; text-align: center;}
.author_specialization {margin: 8px 0 24px 0; display: block; font-family: robotolight, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase; text-align: center;}
.author_social-links {display: block; text-align: center; margin-bottom: 40px;}
.author_social-links a {color: #696969; margin: 0 10px;}
.author_social-links a:hover {color: #3d3d3d;}
.my-skills {font-family: roboto_condensedregular, sans-serif; font-size: 24px; text-transform: uppercase; margin-top: 106px; color: #3d3d3d;font-weight: 600}
.my-skills_description {color: #858383; font-family: robotothin, sans-serif; font-size: 14px; padding: 29px 20px 26px 0;}
.skill-wrapper {overflow: hidden;}
.skill_name {float: left; display: block; margin-bottom: 22px; font-weight: 700; font-family: robotobold, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase;}
.meter-wrapper {margin-bottom: 50px;}
.meter {background: white; height: 2px; margin: 6px 60px 0 15%;}
.meter_color {background: #e84c3d; display: block; height: 2px;}
.skill_progress {float: right; font-family: robotolight, sans-serif; font-size: 14px; margin-right: 20px;}
.features {width: 100%; background: #002f44;; padding-bottom: 69px;}
.features_image {
    width: 62px;
    height: 63px;
    margin: 20px auto 20px auto;
}
.features_name, .features_count {text-align: center; font-family: robotolight, sans-serif; color: #f6f6f6; display: block;}
.features_name {font-size: 18px; margin-bottom: 28px;}
.features_count {font-size: 48px;}
.features-blocks{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
@media only screen and (max-width: 700px) {
    .features-blocks{
       flex-wrap:wrap;

}
}
/*end who we are*/
fotter{
        background: #004e58;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
}

.dropdown-menu{
    padding: 20px;
    margin: 0 0 0 0;
    text-align: center;
}
ul{
background: #004e58;
    list-style-type: none;
    /* width: 100px; */
    padding: 5px;
    margin: 0 0 0 0;
    text-align: center;
}


.language{
    outline: none;
    border-color: #ffffff;
    background-color: #fafcfc;
    color: #002f44;
    font-size: 10pt;
    padding: 5px;
}

/*

.footer_info {text-align: center; margin-top: 50px;}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

#findcity
{
    width:300px;
}
#accountsettingsbackground {
    background-image: url('../Image/18104-NRIR4C.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    width: 90%;
    margin:2% auto 0 auto; 
}


#messager {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
    display: inline;
    vertical-align: middle;
}

#search{
    width:30%;
}*/

/* Route/Search - Begin*/

#destination_block {
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 10%;
    }

    .info {
        border: 3px solid white;
        width: 20%;
    }

    #inform {
        width: 100%;
        border: 1px solid black;
    }

.white {
    position: inherit;
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    margin-top: 5%;
}
#left{
    float:left;
}
#mylang{
    margin-top:15px;
}

 /* Route/Search - End*/
