﻿.reg:hover, .reg:focus{
    border-bottom: 11px solid white; 
    font-weight: normal;
    border:hidden;
}
.reg {
    color: #fff;
    font-size: 24px;
    font-family: cursive;
    float: left;
    line-height: 20px;
    background-color: #004e58;
    border:hidden;
    float: right;
    outline: none;
}
.log:hover, .reg:focus{
    border-bottom: 11px solid white; 
    font-weight: normal; 
    border:hidden; 
}
.log {
    color: #fff;
    font-size: 24px;
    font-family: cursive;
    float: left;
    background-color: #004e58;
    border:hidden;
    outline: none;
    float: right;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
    text-align: center;
        color: #fff;
    font-size: 24px;
    font-family: cursive;
}

.btn-warning {
    color: #fff;
    background-color: #13c9c1;
    border-color: #13c9c1;
}
.btn-warning:active, .btn-warning:hover, .btn-warning:focus {
    color: #fff;
    background-color: #13c9c1;
    border-color: #13c9c1;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
    text-align: center;
    color: #13c9c1;
    font-size: 24px;
    font-family: cursive;
}

.btn-primary:hover {
    color: #fff;http://localhost:3902/Image/25037.jpg
    background-color: #004e58;
    border-color: #004e58;
}
.btn-primary {
    color: #fff;
    background-color: #004e58;
    border-color: #004e58;
}

.img-circle, #messager{
    width:35px;
    height:35px;
}
#search{
    width: 260px;
    margin-right:250px;
}
footer{
        position: fixed;
    bottom: 0;
    width: 100%;
}