﻿body {
    font: 20px;
    background-image: url('../Image/sayagata-400px.png');
}
.user-content{
    display:flex;
    margin:2% 10% 2% 10%;
            color: #004e58;
                font-size: 15px;
}
.left-menu{
    display:flex;
        flex-direction: column;
    flex-wrap:wrap;
    width:30%;
    height:inherit;
}
.box-header{
        font-family: cursive;
       background-color:#fff;
       font-family: cursive;
}
.box-header-title a{
         color: #004e58;
}
.box-image-image {
    background-image: url('../Image/default-pic.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.right-menu{
    display:flex;
        flex-direction: column;
    flex-wrap:wrap;
    width:70%;
    height:inherit;
}
.multicolumn{
        display: flex;
    flex-direction: row;
        justify-content: space-around;
}
.box-header-title{
    display:inline-block;
}
.mod-black {
    padding:10px;
}
.living{
        margin: 10px 0;
    background-color: #fff;
    padding: 20px 20px;
}
.tab-link{
    margin:0 5px;
    color:#fff;
}
.multicolumn ul, .multicolumn{
        background-color: #fff;
}
.box-content{
    background-color: #004e58;
    color:#fff;

}
.box-content p{
        padding: 25px;
}
.inform{
            margin:0 5px 10px 0;
}

.titel span{
    background-color:#fff;
    margin:0 20px;
}

.titel {
    background-color:#fff;
    margin: 10px 0;
}
.mod-icon-bullets li{
    margin:5px;
}
.status{
    background-color:#fff;
        margin: 0 0 10px 0;
            font-size: 20px;
}
.status .mod-large{
    margin: 20px;
    font-family: cursive;
}
.map{
    position: inherit;
    height: 200px;
    width: 300px;
}
#myImg{
        height: 169px;
}
.box-image-image{
       height: 200px;
    width: 200px;
}
.user-content #search{
        margin: 2% 20% 2% 20%;
}
.left-menu #search{

}
.right-menu #search{
    width: 30%;
}
#area{
    width:100%;
}
.dropdown-toggle{
        padding: 0 0 0 10px;
}
.search-panel .dropdown-toggle{
    padding:6px;
}