﻿@model Business_Layer.DataModels.StaffDataModel

<link href="~/Content/GridGround.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <div class="row">
                <h2>Додати нового працівника</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-4">Ім'я</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Прізвище</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">По-батькові</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Middle_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Middle_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">День народження</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Birthday, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-4">День наймання на роботу</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Employment_day, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.Employment_day, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Адреса</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Addresses, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Addresses, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Телефон</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone_number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Посада</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Name_of_position, new SelectList(
                        new List<Object>{
                        new { value="Хірург" , text = "Хірург"  },
                        new { value="Педіатр" , text = "Педіатр"  },
                        new { value="Медсестра" , text = "Медсестра"  },
                        new { value="Терапевт" , text = "Терапевт"  },
                        new { value="Мед-сестра" , text = "Мед-сестра"  },
                         new { value="Санітарка" , text = "Санітарка"  },
                        new { value="Психолог" , text = "Психолог" } },
                       "value", "text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name_of_position, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Додати" class="btn-info btn-lg" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </center>
            </div>
                    }
                    @section Scripts {

                        <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Styles.Render("~/Content/bootstrap-datepicker.css")


<script type="text/javascript">
                    $(function () {
                        $('.datepicker').datepicker({
                            format: "dd.mm.yyyy",
                            autoclose: true,
                            language: 'ru'
                        });

                    });

                    $.fn.datepicker.dates['ru'] = {
                        days: ["Понеділок", "Вівторок", "Середа", "Четерг", "П'ятниця", "Субота", "Неділя"],
                        daysShort: ["Пон", "Вів", "Сер", "Чет", "П'ятн", "Суб", "Нед"],
                        daysMin: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
                        months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
                        monthsShort: ["Січ", "Лют", "Бер", "Квіт", "Трав", "Черв", "Лип", "Серп", "Верес", "Жовт", "Лист", "Груд"],
                        format: "mm.dd.yyyy",
                    };

                    $(function () {
                        $.validator.methods.date = function (value, element) {
                            if ($.browser.webkit) {
                                var d = new Date();
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                            }
                            else {
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                            }
                        };
                    });
</script>
                    }
