﻿@model Business_Layer.DataModels.StaffDataModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StaffDataModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Ім'я</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Прізвище</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">По-батькові</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Middle_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Middle_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">День народження</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Birthday, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">День наймання на роботу</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Employment_day, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Employment_day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Адреса</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Addresses, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Addresses, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Телефон</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Посада</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Name_of_position, new SelectList(
                        new List<Object>{
                        new { value="Лікар" , text = "Хірург"  },
                        new { value="Лікар" , text = "Педіатр"  },
                        new { value="Лікар" , text = "Медсестра"  },
                        new { value="Лікар" , text = "Терапевт"  },
                        new { value="Лікар" , text = "Мед-сестра"  },
                         new { value="Лікар" , text = "Санітарка"  },
                        new { value="Повторно" , text = "Психолог" } },
                       "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name_of_position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Перегляд робітників", "StaffGrid", "Staff")
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")

    <script src="~/Scripts/moment-with-locales.min.js"></script>

    <script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            autoclose: true,
        });
    });
    </script>
}