﻿@model IEnumerable<Business_Layer.DataModels.StaffDataModel>
@using GridMvc.Html
<meta name="viewport" content="width=device-width" />

<link href="~/Content/GridGround.css" rel="stylesheet" />
<div id="white">
    <center>
        <h2>Перелік працівників</h2>

        @Html.Grid(Model).SetLanguage("uk").Columns(columns =>
{
    columns.Add(data => data.Surname).Titled("ПІБ").RenderValueAs(o => o.Surname + " " + o.Name + " " + o.Middle_name).Filterable(true);
    columns.Add(data => data.Birthday).Format("{0:dd/MM/yyyy}").Titled("День народження").Sortable(true).Filterable(true);
    columns.Add(data => data.Employment_day).Format("{0:dd/MM/yyyy}").Titled("Дата наймання").Sortable(true).Filterable(true);
    columns.Add(data => data.Addresses).Titled("Адреса проживання").Sortable(true).Filterable(true);
    columns.Add(data => data.Phone_number).Titled("Номер телефону").Sortable(true).Filterable(true);
    columns.Add(data => data.Name_of_position).Titled("Посада").Sortable(true).Filterable(true);
    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Редагувати", "EditStaff", new { id = o.Number_of_staff }));
    columns.Add()
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(30)
                     .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteStaff", new { id = o.Number_of_staff }));
}).WithPaging(6).WithMultipleFilters()
    </center>
</div>
@section Scripts {

@Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Styles.Render("~/Content/bootstrap-datepicker.css")


<script type="text/javascript">
                    $(function () {
                        $('.datepicker').datepicker({
                            format: "dd.mm.yyyy",
                            autoclose: true,
                            language: 'ru'
                        });

                    });

                    $.fn.datepicker.dates['ru'] = {
                        days: ["Понеділок", "Вівторок", "Середа", "Четерг", "П'ятниця", "Субота", "Неділя"],
                        daysShort: ["Пон", "Вів", "Сер", "Чет", "П'ятн", "Суб", "Нед"],
                        daysMin: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
                        months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
                        monthsShort: ["Січ", "Лют", "Бер", "Квіт", "Трав", "Черв", "Лип", "Серп", "Верес", "Жовт", "Лист", "Груд"],
                        format: "mm.dd.yyyy",
                    };

                    $(function () {
                        $.validator.methods.date = function (value, element) {
                            if ($.browser.webkit) {
                                var d = new Date();
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                            }
                            else {
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                            }
                        };
                    });
</script>
}




