﻿@model АРМ_робітника_прийомного_відділення.Models.RegisterViewModel

<link href="~/Content/GridGround.css" rel="stylesheet" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <h2>Створити новий обліковий запис</h2>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-5">Емейл</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-5">Пароль</label>
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-5">Підтвердження пароля</label>
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Регістрація" class="btn-info btn-lg" />
                </div>
            </div>
            </center>
        </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
