﻿@model Business_Layer.DataModels.Work_scheduleDataModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWork_schedule</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Work_scheduleDataModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_work_schedule)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_work_schedule)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data_of_work)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data_of_work)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Time_of_beginning)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Time_of_beginning)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Time_of_ending)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Time_of_ending)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Number_of_staff)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number_of_staff)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
