﻿@model Business_Layer.DataModels.Work_scheduleDataModel

@{
    var list = (ViewBag.Work_schedule as List<SelectListItem>);
    if (list == null) { list = new List<SelectListItem>(); }
}

<link href="~/Content/GridGround.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="white">
        <center>
            <div class="form-horizontal">
                <h2>Редагувати графік роботи</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-5">День роботи</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Data_of_work, "{dd.mm.yyyy}", new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.Data_of_work, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5">Час початку роботи</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Time_of_beginning, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Time_of_beginning, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5">Час закінчення роботи</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Time_of_ending, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Time_of_ending, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5">Працівник</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.Number_of_staff, list, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Number_of_staff, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Редагувати" class="btn-info btn-lg" />
                    </div>
                </div>
            </div>
        </center>
    </div>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @*@Styles.Render("~/Scripts/bootstrap-datetimepicker.js")
        @Styles.Render("~/Content/bootstrap-datetimepicker.css")*@

    <script type="text/javascript">
                    $(function () {
                        $('.datepicker').datepicker({
                            format: "dd.mm.yyyy",
                            autoclose: true,
                            language: 'ru'
                        });

                    });

                    $.fn.datepicker.dates['ru'] = {
                        days: ["Понеділок", "Вівторок", "Середа", "Четерг", "П'ятниця", "Субота", "Неділя"],
                        daysShort: ["Пон", "Вів", "Сер", "Чет", "П'ятн", "Суб", "Нед"],
                        daysMin: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
                        months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
                        monthsShort: ["Січ", "Лют", "Бер", "Квіт", "Трав", "Черв", "Лип", "Серп", "Верес", "Жовт", "Лист", "Груд"],
                        format: "mm.dd.yyyy",
                    };

                    $(function () {
                        $.validator.methods.date = function (value, element) {
                            if ($.browser.webkit) {
                                var d = new Date();
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                            }
                            else {
                                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                            }
                        };
                    });
    </script>

}