﻿@model IEnumerable<Business_Layer.DataModels.Work_scheduleWithStaffDataModel>

@using GridMvc.Html
<meta name="viewport" content="width=device-width" />

@{
    ViewBag.Title = "PatientGrid";
}
<link href="~/Content/GridGround.css" rel="stylesheet" />
<div id="white">
    <center>
        <h2>Перегляд графіка роботи</h2>

        @Html.Grid(Model).SetLanguage("uk").Columns(columns =>
   {
       columns.Add(data => data.Surname).Titled("ПІБ").RenderValueAs(o => o.Surname + " " + o.Name + " " + o.Middle_name).Filterable(true);
       columns.Add(data => data.Data_of_work).Format("{0:dd/MM/yyyy}").Titled("Робочий день").Filterable(true);
       columns.Add(data => data.Time_of_beginning).Titled("Час початку робочого дня");
       columns.Add(data => data.Time_of_ending).Titled("Час закінчення робочого дня");
       columns.Add()
                           .Encoded(false)
                           .Sanitized(false)
                           .SetWidth(30)
                           .RenderValueAs(o => Html.ActionLink("Редагувати", "EditWork_schedule", new { id = o.Number_of_work_schedule }));
       columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Видалити", "DeleteWork_schedule", new { id = o.Number_of_work_schedule }));
   }).WithPaging(7).Sortable(true).WithMultipleFilters()
    </center>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />


}


