﻿@model Couchsurfing.Models.AddPhoneNumberViewModel


@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Добавление номера телефона</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Отправить" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
